<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid justify-content-center">

      <form class="d-flex" role="search">
        <input #searchTerm class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
        <button (click)="weatherSearch(searchTerm.value.trim().toLowerCase())" class="btn btn-outline-success" type="submit">Search</button>
      </form>

  </div>
</nav>
<ng-template #noData>
  No data
</ng-template>
<div class="container">
  <ng-container *ngIf="getWeatherData$ | async as wd; else noData">
    <div class="row">
      <div class="col text-center mt-3">
        <p>Current Weather for {{wd.location?.name}}, country {{wd.location?.country}}, region {{wd.location?.region}} last updated {{wd.location?.localtime}}</p>
      </div>
    </div>

    <div class="text-center pb-3">
      <p><img src="{{wd.current?.condition?.icon}}" alt="{{wd.current?.condition?.text}}"></p>
      <p>{{wd.current?.condition?.text}}</p>
    </div>

      <div class="row border-bottom text-center mb-5">

        <div class="col-sm-4">
          <p>Temperature: {{wd.current?.temp_c}} &#8451;</p>
          <p>Feels like: {{wd.current?.feelslike_c}} &#8451;</p>
          <p>Defra index: {{wd.current?.air_quality?.['gb-defra-index']}}</p>
        </div>

        <div class="col-sm-4">
          <p>Cloud: {{wd.current?.cloud}}%</p>
          <p>UV index: {{wd.current?.uv}}</p>
          <p>Pressure: {{wd.current?.pressure_mb}} mb</p>
        </div>
        <div class="col-sm-4">
          <p>Humidity: {{wd.current?.humidity}}%</p>
          <p>Precipitation: {{wd.current?.precip_mm}} mm</p>
          <p>Wind direction: {{wd.current?.wind_dir}}</p>
        </div>

      </div>

          <div>
            <h4>Air Quality</h4>
            <div class="row border-bottom justify-content-center mb-5">
              <span>Units are displayed in: μg/m3</span><br><br>
              <div class="col-sm-4 col-md-3">
                <p>NO<sub>2</sub>: {{wd.current?.air_quality?.no2 | number}}</p>
                <p>O<sub>3</sub>: {{wd.current?.air_quality?.o3 | number}}</p>
              </div>
              <div class="col-sm-4 col-md-3">
                <p>CO: {{wd.current?.air_quality?.co | number}}</p>
                <p>SO<sub>2</sub>: {{wd.current?.air_quality?.so2 | number }}</p>
              </div>
              <div class="col-sm-4 col-md-3">
                <p>PM 2.5: {{wd.current?.air_quality?.pm2_5 | number}}</p>
                <p>PM 10: {{wd.current?.air_quality?.pm10 | number}}</p>
              </div>
            </div>
            <br>
            <p>GP Defra Index: {{wd.current?.air_quality?.['gb-defra-index']}}</p>
          </div>






     <div *ngIf="wd.forecast?.forecastday as f">

      <nav aria-label="..." class="m-4 d-flex justify-content-center">
        <ul class="pagination pagination-sm">
          <li class="page-item mx-2" aria-current="page" (click)="weatherRef.value = 0" #weatherRef>
            <span class="page-link p-3">Weather on {{f[0].date}}</span>
          </li>
          <li class="page-item" (click)="weatherRef.value = 1" #weatherRef><a class="page-link p-3">Weather on {{f[1].date}}</a></li>
          <li class="page-item mx-2" (click)="weatherRef.value = 2" #weatherRef><a class="page-link p-3">Weather on {{f[2].date}}</a></li>
        </ul>
      </nav>

      <h2>Weather On {{f[weatherRef.value].date}}</h2>
      <hr>

      <div>
        <h4>Condition</h4>
        <div class="row text-center mb-5">
          <div class="col">
            <img src="{{f[weatherRef.value].day.condition.icon}}" alt="{{f[weatherRef.value].day.condition.text}}">
            <p>{{f[weatherRef.value].day.condition.text}}</p>
          </div>
        </div>
      </div>

      <div>
        <h4>Weather</h4>
        <div class="row mb-5">
          <div class="col-sm-6 col-md-3">
            <p>Max Temperature: {{f[weatherRef.value].day.maxtemp_c}} &#8451;</p>
            <p>Min Temperature: {{f[weatherRef.value].day.mintemp_c}} &#8451;</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <p>Total Precipitation: {{f[weatherRef.value].day.totalprecip_mm}} mm</p>
            <p>Total Snow Cover: {{f[weatherRef.value].day.totalsnow_cm}} cm</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <p>Average Humidity: {{f[weatherRef.value].day.avghumidity}}%</p>
            <p>Average Temperature: {{f[weatherRef.value].day.avgtemp_c}} &#8451;</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <p>Max Wind: {{f[weatherRef.value].day.maxwind_kph}} km/h</p>
            <p>UV Index: {{f[weatherRef.value].day.uv}}</p>
          </div>
        </div>
      </div>


      <div>
        <h4>Astronomy</h4>
        <table class="table text-center table-striped-columns mb-5">
          <thead>
          <tr>
            <th scope="col">Sunrise</th>
            <th scope="col">Sunset</th>
            <th scope="col">Moonrise</th>
            <th scope="col">Moonset</th>
            <th scope="col">Moon Phase</th>
            <th scope="col">Moon Illumination</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{f[weatherRef.value].astro.sunrise}}</td>
            <td>{{f[weatherRef.value].astro.sunset}}</td>
            <td>{{f[weatherRef.value].astro.moonrise}}</td>
            <td>{{f[weatherRef.value].astro.moonset}}</td>
            <td>{{f[weatherRef.value].astro.moon_phase}}</td>
            <td>{{f[weatherRef.value].astro.moon_illumination}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h4>Weather by the hour</h4>
      <div *ngFor="let hourData of f[weatherRef.value].hour">
        <table class="table text-center align-middle table-striped-columns mb-5">
          <thead>
          <tr>
            <th scope="col">{{hourData.time.substring(10)}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><img src="{{hourData.condition.icon}}" alt="{{hourData.condition.text}}"></td>
            <td>Temperature: {{hourData.temp_c}} &#8451;</td>
            <td>UV: {{hourData.uv}}</td>
            <td>Humidity: {{hourData.humidity}}%</td>
            <td>Chance of rain: {{hourData.chance_of_rain}}%</td>
            <td>Chance of snow: {{hourData.chance_of_snow}}%</td>
          </tr>
          </tbody>
        </table>

      </div>

     </div>

    <app-footer></app-footer>



  </ng-container>









